name: Gradle Build

on:
  pull_request:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.idea/**'
      - '.run/**'
      - 'detekt/**'
      - 'docs/**'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  gradle-build:
    name: Gradle Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-upload
          dependency-graph-exclude-projects: ':(gradm|initialization|project)'

      - run: ./gradlew build --no-daemon --stacktrace

  gradle-submit-dependency-graph:
    name: Gradle Submit Dependency Graph
    uses: OmicoDev/gradle-project-initializer-template/.github/workflows/gradle-submit-dependency-graph.yml@main
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    needs: gradle-build
    permissions:
      contents: write
